
@font-face{ font-family:NotoGothicR, "노토고딕R", sans-serif;
			src:url('_font/NotoSansCJKkr-Regular.otf');}

@font-face{ font-family:NotoGothic_Black, "노토고딕Black", sans-serif;
			src:url('_font/NotoSansCJKkr-Black.otf');}

@font-face{ font-family:NotoGothic_Bold, "노토고딕Bold", sans-serif;
			src:url('_font/NotoSansCJKkr-Bold.otf');}

@font-face{ font-family:NotoGothic_Dl, "노토고딕Dl", sans-serif;
			src:url('_font/NotoSansCJKkr-DemiLight.otf');}

@font-face{ font-family:NotoGothic_L, "노토고딕L", sans-serif;
			src:url('_font/NotoSansCJKkr-Light.otf');}






