/* view_layer */
.dim{z-index:10;position:absolute;top:0;left:0;width:100%;background:rgba(0,0,0,0.5);/* display:none; */overflow: auto;}
.dim_l, .dim_r{float:left;}
.dim_l:after{content:'';clear:both;display:block;}
.view_wrap{z-index:12;overflow:hidden;width:970px;border-radius:5px;}
.view-contents {width:90%; min-width:700px; max-width:970px;}
.view-contents .row {margin-right:0px;margin-left:0px;max-width:970px;}
.view_wrap, .view_wrap .row {max-width:970px;}

/*
.dim{z-index:10;position:absolute;top:0;left:0;width:100%;background:rgba(0,0,0,0.5);overflow: auto;}
.dim_l{z-index:11;position:absolute;top:0;left:0;width:466px;}
.dim_r{z-index:11;position:absolute;top:0;right:466px;width:466px;}
.view_wrap{z-index:12;overflow:hidden;position:absolute;top:65px;left:467px;width:970px;border-radius:5px;background:#fff;}
*/

.view_l{overflow:hidden;float:left;width:700px;border-radius:5px 0 0 5px;background:#fff;}
.view_tit{overflow:hidden;width:630px;padding:5px 40px 26px 40px;font-size:20px;color:#0f0f11;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;}
.view_tit .ico{display:none;margin:0 0 5px 0;}
.file_list{width:700px;border-top:2px solid #d4dbde;}
.file_list dl{overflow:hidden;border-bottom:1px solid #d3e2e8;background:#e8f0f3;font-size:12px;}
.file_list dl dt{float:left;padding:10px 20px 10px 40px;color:#b6b9ba;}
.file_list dl dd{overflow:hidden;float:left;max-width:540px;padding:10px 0 10px 3px;font-weight:bold;color:#757879;text-overflow:ellipsis;white-space:nowrap;}
.file_list dl dd .ico.folder{display:inline-block;width:17px;height:13px;margin-right:5px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -175px 0; vertical-align:top;}

/* 컨텐츠 상세보기 topTable tbl_style2 */
.tbl_style2 table{width:700px;border-bottom:1px solid #cedde4;}
.tbl_style2 table th{padding:4px 0 3px 0;border-left:1px solid #e2ebef;border-bottom:1px solid #e2ebef;font-size:11px;text-align:center;background:#f0f5f7;color:#b1babe;font-size:11px;}
.tbl_style2 table th:first-child{text-indent:44px;border-left:none;}
.tbl_style2 table th:last-child{padding-right:40px;}
.tbl_style2 table td{padding:9px 0;font-size:11px;text-align:center;background:#f7fafb;color:#757879;}
.tbl_style2 table td:first-child{overflow:hidden;max-width:350px;text-indent:44px;font-size:11px;text-align:left;text-overflow:ellipsis;white-space:nowrap;}
.tbl_style2 table td .file_name{display:inline-block;text-indent:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;max-width:350px;}
.tbl_style2 table td:last-child{padding-right:40px;text-indent:8px;}
.tbl_style2 table td span{color:#b6b9ba;}

/* 파일 확장자 ico */
.tbl_style2 table td .ico{display:inline-block;width:36px;height:11px;margin-right:9px;background:url('http://www.filecast.co.kr/static/_img/view/file_extension.png') no-repeat;}
.tbl_style2 table td .ico.avi{background-position:0 0;}
.tbl_style2 table td .ico.mkv{background-position:0 -11px;}
.tbl_style2 table td .ico.mpeg{background-position:0 -22px;}
.tbl_style2 table td .ico.asf{background-position:0 -33px;}
.tbl_style2 table td .ico.ts{background-position:0 -44px;}
.tbl_style2 table td .ico.rm{background-position:0 -55px;}
.tbl_style2 table td .ico.ram{background-position:0 -66px;}
.tbl_style2 table td .ico.org{background-position:0 -77px;}
.tbl_style2 table td .ico.mp4{background-position:0 -88px;}
.tbl_style2 table td .ico.wmg{background-position:0 -99px;}
.tbl_style2 table td .ico.mpg{background-position:0 -110px;}
.tbl_style2 table td .ico.ra{background-position:0 -121px;}
.tbl_style2 table td .ico.mov{background-position:0 -132px;}
.tbl_style2 table td .ico.swf{background-position:0 -143px;}
.tbl_style2 table td .ico.qt{background-position:0 -154px;}
.tbl_style2 table td .ico.dts{background-position:0 -165px;}

.tbl_style2 table td .ico.ani{background-position:-46px 0;}
.tbl_style2 table td .ico.bmp{background-position:-46px -11px;}
.tbl_style2 table td .ico.cal{background-position:-46px -22px;}
.tbl_style2 table td .ico.fax{background-position:-46px -33px;}
.tbl_style2 table td .ico.gif{background-position:-46px -44px;}
.tbl_style2 table td .ico.hdp{background-position:-46px -55px;}
.tbl_style2 table td .ico.jpg{background-position:-46px -66px;}
.tbl_style2 table td .ico.jpeg{background-position:-46px -77px;}
.tbl_style2 table td .ico.mac{background-position:-46px -99px;}
.tbl_style2 table td .ico.pbm{background-position:-46px -110px;}
.tbl_style2 table td .ico.pcd{background-position:-46px -121px;}
.tbl_style2 table td .ico.pct{background-position:-46px -132px;}
.tbl_style2 table td .ico.pcx{background-position:-46px -143px;}
.tbl_style2 table td .ico.pgm{background-position:-46px -154px;}
.tbl_style2 table td .ico.png{background-position:-46px -165px;}
.tbl_style2 table td .ico.ppii{background-position:-46px -176px;}
.tbl_style2 table td .ico.psd{background-position:-46px -187px;}
.tbl_style2 table td .ico.ras{background-position:-46px -198px;}
.tbl_style2 table td .ico.tga{background-position:-46px -209px;}
.tbl_style2 table td .ico.tif{background-position:-46px -220px;}
.tbl_style2 table td .ico.itff{background-position:-46px -232px;}
.tbl_style2 table td .ico.eps{background-position:-46px -243px;}
.tbl_style2 table td .ico.ai{background-position:-46px -254px;}

.tbl_style2 table td .ico.zip{background-position:-91px 0;}
.tbl_style2 table td .ico.zipx{background-position:-91px -11px;}
.tbl_style2 table td .ico.rar{background-position:-91px -22px;}
.tbl_style2 table td .ico._7z {background-position:-91px -33px;}
.tbl_style2 table td .ico.alz{background-position:-91px -44px;}
.tbl_style2 table td .ico.egg{background-position:-91px -55px;}
.tbl_style2 table td .ico.cab{background-position:-91px -66px;}
.tbl_style2 table td .ico.bh{background-position:-91px -77px;}
.tbl_style2 table td .ico.oo1{background-position:-91px -88px;}
.tbl_style2 table td .ico.arj{background-position:-91px -99px;}
.tbl_style2 table td .ico.lha{background-position:-91px -110px;}
.tbl_style2 table td .ico.lzh{background-position:-91px -121px;}
.tbl_style2 table td .ico.pma{background-position:-91px -132px;}
.tbl_style2 table td .ico.ace{background-position:-91px -143px;}
.tbl_style2 table td .ico.tar{background-position:-91px -154px;}
.tbl_style2 table td .ico.gz{background-position:-91px -165px;}
.tbl_style2 table td .ico.tgz{background-position:-91px -176px;}
.tbl_style2 table td .ico.bz{background-position:-91px -187px;}
.tbl_style2 table td .ico.bz2{background-position:-91px -198px;}
.tbl_style2 table td .ico.tbz{background-position:-91px -209px;}
.tbl_style2 table td .ico.tbz2{background-position:-91px -220px;}
.tbl_style2 table td .ico.xz{background-position:-91px -232px;}
.tbl_style2 table td .ico.txz{background-position:-91px -243px;}
.tbl_style2 table td .ico.lzma{background-position:-91px -254px;}
.tbl_style2 table td .ico.tlz{background-position:-91px -265px;}
.tbl_style2 table td .ico.z{background-position:-91px -276px;}

.tbl_style2 table td .ico.hwp{background-position:-137px 0;}
.tbl_style2 table td .ico.htm{background-position:-137px -11px;}
.tbl_style2 table td .ico.ppt{background-position:-137px -22px;}
.tbl_style2 table td .ico.pptx{background-position:-137px -33px;}
.tbl_style2 table td .ico.pptm{background-position:-137px -44px;}
.tbl_style2 table td .ico.ppsx{background-position:-137px -55px;}
.tbl_style2 table td .ico.potx{background-position:-137px -66px;}
.tbl_style2 table td .ico.potm{background-position:-137px -77px;}
.tbl_style2 table td .ico.pot{background-position:-137px -88px;}
.tbl_style2 table td .ico.xps{background-position:-137px -99px;}
.tbl_style2 table td .ico.xml{background-position:-137px -110px;}
.tbl_style2 table td .ico.xls{background-position:-137px -121px;}
.tbl_style2 table td .ico.xlsx{background-position:-137px -132px;}
.tbl_style2 table td .ico.xlsm{background-position:-137px -143px;}
.tbl_style2 table td .ico.txt{background-position:-137px -154px;}
.tbl_style2 table td .ico.csv{background-position:-137px -165px;}
.tbl_style2 table td .ico.html{background-position:-137px -176px;}
.tbl_style2 table td .ico.doc{background-position:-137px -187px;}
.tbl_style2 table td .ico.dot{background-position:-137px -198px;}
.tbl_style2 table td .ico.dotx{background-position:-137px -209px;}
.tbl_style2 table td .ico.docx{background-position:-137px -220px;}
.tbl_style2 table td .ico.rtf{background-position:-137px -232px;}
.tbl_style2 table td .ico.pdf{background-position:-137px -243px;}

.tbl_style2 table td .ico.iso{background-position:-183px 0;}
.tbl_style2 table td .ico.img{background-position:-183px -11px;}
.tbl_style2 table td .ico.udf{background-position:-183px -22px;}
.tbl_style2 table td .ico.wim{background-position:-183px -33px;}

.tbl_style2 table td .ico.smi{background-position:-229px 0;}

.view_txt1{padding:10px 40px;font-size:12px;color:#757879;}
.view_txt1 span{color:#3b3b3c;font-weight:bold;}

/* 뷰 섹션 공통 */
.v_section{width:700px;margin:20px 0 30px 0;}
.v_section .tab_list{position:relative;width:700px;height:36px;padding-left:40px;border-bottom:1px solid #959aa1;}
.v_section .tab_list li{position:absolute;bottom:-1px;float:left;font-size:12px;margin:0;}
.v_section .tab_list li.t1{left:40px;}
.v_section .tab_list li.t2{left:132px;}
.v_section .tab_list li.t3{left:224px;}
.v_section .tab_list li a{z-index:1;display:block;width:92px;border:1px solid #959aa1;border-left:none;padding:11px 0 10px 0;text-align:center;background:#f8fafb;color:#b6b9ba;}
.v_section .tab_list li a:hover, .v_section .tab_list li.active a{color:#24b6e5;text-decoration:underline;background:#fff;}
.v_section .tab_list li a.on{border-top:2px solid #24b6e5;border-bottom:none;background:#fff;color:#24b6e5;font-weight:bold;}
.v_section .tab_list li:first-child a{border-left:1px solid #959aa1;}
.v_section .tab_list li:last-child a{width:129px;}
.v_section.type2, .v_section.type3{margin-top:60px;}
.v_section.type3{padding-bottom:0;margin-bottom:0;}

/* 미리보기 */
.preview_wrap{width:630px;margin:40px auto;border:1px solid #cfdbe2;background:#eef1f2;}
.preview_wrap .preview_top{padding:18px 0 16px 61px;background:#eef1f2 url('http://www.filecast.co.kr/static/_img/view/bg_preview.png') no-repeat 15px 17px;}
.preview_wrap .preview_top h2{margin-bottom:6px;font-size:13px;font-weight:bold;color:#757879;}
.preview_wrap .preview_top p{font-size:11px;color:#b6b9ba;}
.preview_wrap .preview_top p span{color:#757879;}
.preview_wrap .preview_content{padding:20px;background:#252627;}
.preview_wrap .preview_content .video_area{position:relative;width:592px;height:245px;}
.preview_wrap .preview_content .video_area img{width:592px;height:245px;}
.preview_wrap .preview_content .video_area .btn_p_play{display:block;position:absolute;top:95px;left:260px;width:70px;height:50px;background:url('http://www.filecast.co.kr/static/_img/temp/btn_pre_play.png') no-repeat 0 0;text-indent:-9999px;}
.preview_wrap .preview_content .controller{width:566px;height:29px;margin:10px auto 0 auto;background:url('http://www.filecast.co.kr/static/_img/temp/controller.png') no-repeat 0 0;}
.preview_wrap .preview_btm{background:#eef1f2;}
.preview_wrap .preview_btm p{padding:10px 0 9px 9px;font-size:11px;color:#b6b9ba;}
.preview_wrap .preview_btm p span{color:#24b6e5;}

/* 컨텐츠 이미지, 설명 */
.data_content{width:630px;margin:0 auto;}
.data_content img{display:block;max-width:630px;}
.data_content p{margin-top:30px;line-height:24px;font-size:14px;color:#757879;letter-spacing:-1px;}
.data_content p .mini_tit{display:block;}

/* 코멘트입력 */
.comment_wrap{width:630px;margin:0 auto 40px auto;padding-top:40px;}
.comment_wrap > p{margin-bottom:10px;font-size:11px;color:#b6b9ba;}
.comment_input{overflow:hidden;width:624px;border:3px solid #959aa1;}
.comment_input .input_inner{float:left;width:454px;padding:4px 3px 5px 10px;border-left:1px solid #cfdbe2;background:#f9fcfd;}
.comment_input .input_inner textarea{overflow:hidden;display:inline-block;float:left;width:425px;height:63px;padding:3px 0;border:none;line-height:18px;color:#757879;font-family:Dotum, "돋움",sans-serif;font-size:11px;background:#f9fcfd;}
.comment_input .input_inner .btn_up{width:21px;height:33px;background-position:-141px 0;}
.comment_input .input_inner .btn_under{width:21px;height:30px;background-position:-141px -33px;}
.comment_input .btn_register{float:left;display:block;width:58px;padding:27px 0 28px 0;background:#959aa1;color:#eef1f2;text-align:center;font-size:13px;font-weight:bold;border:solid 0px #eff1f4;}

.star_wrap{float:left;width:106px;height:69px;padding:10px 0 5px 0;text-align:center;font-size:11px;color:#b6b9ba;}
.star_score{display:inline-block;width:62px;vertical-align:middle;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat;}
.star_score.style1{overflow:hidden;width:90px;margin-bottom:8px;background:none;}
.star_score.type1{height:11px;margin-left:10px;background-position:-49px -60px;}
.star_score.type2{height:11px;margin-left:10px;background-position:-49px -71px;}
.star_score.type3{height:11px;margin-left:10px;background-position:-49px -82px;}
.star_score.type4{height:11px;margin-left:10px;background-position:-49px -93px;}
.star_score.type5{height:11px;margin-left:10px;background-position:-49px -104px;}
.star_score .case{display:inline-block;width:16px;height:15px;margin:4px 2px 0 0;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -71px -41px;}
.star_score .case.on{background-position:-49px -41px;}
.star_score em{overflow:hidden;display:inline-block;margin-top:4px;color:#757879;}
.star_score strong{color:#24b6e5;}
.star_score em span{display:inline-block;float:left;margin-right:3px;}
.star_score .txt{float:left;margin-left:2px;color:#b6b9ba;}

/* 댓글 */
.commentArea{width:700px;font-size:12px;letter-spacing:-1px;border-top:1px solid #eff1f4;}
.commentArea .comment{overflow:hidden;position:relative;width:700px;padding:17px 30px 12px 40px;border-bottom:1px solid #eff1f4;}
.commentArea .comment.best3{background:#f9fcfd;}
.commentArea .comment dl{float:left;width:435px;}
.commentArea .comment dl dt{margin-bottom:4px;vertical-align:middle;}
.commentArea .comment .ico.best{margin-left:0;margin-right:10px;}
.commentArea .comment .id{font-size:11px;color:#b6b9ba;vertical-align:middle;}
.commentArea .comment .coupon_01{display:inline-block;width:85px;height:16px;margin-left:10px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -49px 0;vertical-align:middle;}
.commentArea .comment .coupon_02{display:inline-block;width:71px;height:16px;margin-left:10px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -56px -17px;vertical-align:middle;}
.commentArea .comment .seller{padding-right:4px;color:#24b6e5;}
.commentArea .comment dl dd{width:435px;color:#757879;line-height:20px;}
.commentArea .comment .right{float:right;}
.commentArea .comment .comment_list li{float:left;}
.commentArea .comment .comment_list li span{display:inline-block;}
.commentArea .comment .comment_list li:last-child a{color:#b6b9ba;}
.commentArea .comment .comment_list li a:hover{color:#24b6e5;text-decoration:underline;}
.commentArea .comment .comment_list .identify{margin-right:5px;color:#24b6e5;}
.commentArea .comment .comment_list .num{margin-left:5px;color:#24b6e5;}
.commentArea .comment .comment_list .bar{margin:0 11px;color:#cfdbe2;}
.commentArea .comment.reply dl{padding-left:20px;}
.commentArea .comment.reply dl dt{color:#cfdbe2;}
.commentArea .comment.reply .bg_reply{display:block;width:12px;height:10px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -175px -34px;}
.commentArea .comment.reply .time{color:#a9acad;}
.c-more-div {display : none;}
.c-more-div > a{display:block;width:165px;margin:20px auto;font-size:14px;}
.c-more-div > a span{font-weight:bold;max-width:45px;}
.c-more-div > a span.more_bg{display:inline-block;width:12px;height:6px;margin-right:10px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -175px -49px;vertical-align:middle;}

/* 판매자 자른자료 */
.another_list{width:700px;margin:20px 0 40px 0;}
.another_list > li{overflow:hidden;padding:10px 30px 10px 40px;border-bottom:1px solid #eff1f4;}
.another_list > li dd{overflow:hidden;}
.another_list > li dd.con_img{width:92px;float:left;margin-right:20px;height:57px;border:1px solid #c2c7ce;background:url('http://www.filecast.co.kr/static/_img/temp/list_ex.png') no-repeat 0 0;}
.another_list > li dt{float:left;padding:7px 0 10px 0;letter-spacing:-1px;}
.another_list > li dt span{display:inline-block;margin-left:4px;font-size:11px;font-weight:normal;}
.another_list > li dt span.t_width{overflow:hidden;max-width:440px;margin-left:0;text-overflow:ellipsis;white-space:nowrap;font-size:14px;font-weight:bold;vertical-align:middle;}
.another_list > li .con_info{width:440px;}
.another_list > li .con_info ul li{float:left;font-size:11px;color:#a9acad;}
.another_list > li .con_info ul li span.bar{display:inline-block;margin:0 14px;}
.another_list .ico.adult{margin-left:0;}
.another_list .txt_black{color:#757879;}
.another_list .txt_blue{color:#2dc3e8;}

/* view_r */
.view_r{position:relative;float:right;width:270px;border-radius:0 5px 0 0;background:#252627;}
.file_info{padding:68px 40px 15px 30px;border-bottom:1px solid #444446;}
.file_info table th{width:70px;padding:7px 0 8px 0;color:#757879;}
.file_info table td{width:130px;color:#b6b9ba;}
.file_info .txt_white{color:#fff;}
.file_info .txt_blue{color:#2dc3e8;}
.v_btn_wrap{padding:20px 0 20px 0;border-bottom:1px solid #444446;background:#030303;}
.v_btn_wrap span{display:block;width:200px;padding:7px 0 8px 0;margin:0 auto;margin-top:15px;border-radius:4px;border:1px solid #cfdbe2;font-size:15px;color:#252627;background:#fff;text-align:center;font-weight:bold;cursor: pointer;}
.v_btn_wrap span.down{margin-top:0;border-color:#009fce;color:#fff;background:#24b6e5;cursor:pointer;}
.s_btn_wrap{padding:20px 0 20px 30px;background:#252627;}
.s_btn_wrap a{display:inline-block;padding:6px 5px 7px 5px;margin-right:10px;border:1px solid #1b1b1d;border-radius:4px;font-size:11px;background:#3b3b3d;color:#757879;cursor:pointer;}
.s_btn_wrap a:first-child{color:#9b9e9f;background:#525254;}
.v_btn_wrap span a:hover, .s_btn_wrap a:hover, .v_btn_wrap span.active a, .s_btn_wrap a.active{opacity:0.7}
.d_install{padding:9px 40px 10px 30px;border-bottom:1px solid #444446;background:#303032;font-size:11px;color:#b6b9ba;letter-spacing:-1px;}
.d_install .txt_blue{padding-left:15px;color:#24b6e5;font-size:10px;letter-spacing:0;}
.d_install .txt_blue span{padding-right:4px;}
.more_list{padding:30px 40px 0 30px;}
.more_list h3{margin-bottom:13px;font-size:13px;color:#fff;font-weight:bold;letter-spacing:-1px;}
.more_list ul li{padding:4px 0 5px;}
.more_list ul li a{overflow:hidden;display:inline-block;width:190px;color:#b6b9ba;font-size:12px;letter-spacing:-1px;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap;}
.more_list ul li a:hover, .more_list ul li.active a{color:#2dc3e8;text-decoration:underline;}
.more_list .ico.adult{margin-right:3px;}
.more_list .blit{display:inline-block;width:2px;height:2px;margin-right:7px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -175px -22px;vertical-align:middle;}
.btn_close{display:block;position:absolute;top:10px;right:10px;width:20px;height:20px;background:url('http://www.filecast.co.kr/static/_img/view/view_ico.png') no-repeat -172px -72px;}
.btn_close.type1{background:url('http://www.filecast.co.kr/static/_img/login/login.png') no-repeat -229px 0;}
.btn_close.type2{right:-15px;top:12px;}
.btn_close:hover, .btn_close.active{opacity:0.7;}
.btm_round{position: absolute;bottom:-10px;width:270px;height:10px;border-radius:0 0 5px 0;background:#252627;}